<div class="home-intro">
    <div class="jumbo">hey, i am chtnnh</div>
    <br />
    <div><em>the fastest growing software engineer in the world.</em></div>
    <div class="home-sub-text">
        <h2>
            the present:
        </h2>
        <h3>
            i am currently working with <a href="https://www.linkedin.com/in/acodingpanda">Shreyansh Pandey</a> to build products loved by end-users and businesses alike.
            <br />
            <br />
            feel free to <a href="mailto:chtnnh@gmail.com">reach out</a> if you are looking for creative solutions to pressing problems in
            <ol>
                <li>backend</li>
                <li>cloud infra / orchestration</li>
                <li>cryptography</li>
                <li>fintech</li>
                <li>ml / nlp / gen ai</li>
            </ol>
        </h3>
        <h2>
            the future:
        </h2>
        <h3>
            i am tinkering with altering the future of humanity with decentralized federated machine learning.
        </h3>
        <h2>
            the past.
        </h2>
        <h3>
            i was a full-stack swe at <a href="https://wisdomcircle.com">WisdomCircle</a>.
            <br />
            <br />
            in addition, i was also an swe intern at <a href="https://bharatx.tech">BharatX (YC W '22)</a>, <a href="https://questbook.xyz">Questbook (YC W '21)</a> and a gsoc mentor and intern at the <a href="https://wikimedia.org">Wikimedia Foundation</a>.
            <br />
            <br />
            if that piqued your interest, read more on my <a href="https://www.linkedin.com/in/chaitannah?utm_source=blog">linkedin</a> or view my <a href="https://drive.google.com/file/d/1dVSfP26S20tXhspTmRg4-62b1Dcwc37_/view?usp=sharing">resume</a> for a shorter version.
        </h3>
    </div>
</div>
