<div class="home-intro">
    <div class="jumbo">hey, i am chtnnh</div>
    <br />
    <div>and i am the kid who's going to change the world.</div>
    <div class="home-sub-text">
        <h2>the present:</h2>
        <div><em>the past is irrelevant, much like the future...</em></div>
        <h3>
            i've put all my bets on altering the future of humanity with decentralized federated machine learning.
        </h3>
    <h2 id="the-past">the past:</h2>
    <div><em>...unless you&#39;re reminiscing...</em></div>
    <h3>
        full stack swe @ <a href="https://wisdomcircle.com">WisdomCircle</a>
    </h3>
    <h3>
        <a href="https://buildspace.so">buildspace</a> n&amp;w s2 &amp; s3 - (attempted) founder @ Rituals
        <p>gamifying habit formation for neurodivergent adults</p>
        <p>realised gamifying habit formation requires a greater product-aligned mindset, which i didn&#39;t possess then</p>
        <p>will probably attempt to solve this problem again</p>
    </h3>
    <h3>
        swe intern @ <a href="https://bharatx.tech">BharatX</a>
    </h3>
    <h3>
        (attempted) founder @ unnamed
        <p>designing machine learning algorithms to, well one day, build a high-bandwidth BCI</p>
        <p>realised that there is a reason why machine learning algorithms weren&#39;t built on top of open source electrode data</p>
        <p>will <em>definitely</em> attempt to solve this problem again, hopefully soon</p>
    </h3>
    <h3>
        <a href="https://kernel.community">Kernel</a> Block 4 Fellow @ <a href="https://gitcoin.co">Gitcoin</a>
    </h3>
    <h3>
        swe intern @ <a href="https://questbook.xyz">Questbook</a>
    </h3>
    <h3>
        (attempted) founder @ QubEat
        <p>designing quantum algorithms to solve optimisation for logistics</p>
        <p>got off track trying to prove that &quot;P = NP&quot;, realised i love physics but our universe might not have been the same if that permutation of those 5 characters was true</p>
        <p>will probably attempt to solve this problem again, much later though</p>
    </h3>
    <h3>
        <a href="https://summerofcode.withgoogle.com/archive/2021/projects/5860658905612288">GSoC Mentor</a>, <a href="https://www.outreachy.org/alums/2020-12/">Outreachy Mentor</a> & <a href="https://summerofcode.withgoogle.com/archive/2020/projects/4875253420916736">GSoC Intern</a> @ <a href="https://wikimedia.org">Wikimedia Foundation</a>
    </h3>
    <h2>the future:</h2>
    <div><em>...to build a better future.</em></div>
    <br />
    <p>
        if you found this interesting and would like to have a conversation about anything tech, please reach out to me!
    </p>
    <p>
        chtnnh [@] gmail.com
    </p>
    <br />
    <p><em>great results are born of great passion</em></p>
    <h2>thoughts i'm consuming</h2>
        <div id="gr_grid_widget_1704602257">
            <!-- Show static html as a placeholder in case js is not enabled - javascript include will override this if things work -->
            <h3>
                <a style="text-decoration: none;" rel="nofollow" href="https://www.goodreads.com/review/list/161393773-chaitanya-mittal?shelf=to-read&utm_medium=api&utm_source=grid_widget">Chaitanya's to-read book montage</a>
            </h3>
            <div class="gr_grid_container">
                <div class="gr_grid_book_container"><a title="Zero to One: Notes on Startups, or How to Build the Future" rel="nofollow" href="https://www.goodreads.com/book/show/18050143-zero-to-one"><img alt="Zero to One: Notes on Startups, or How to Build the Future" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1630663027l/18050143._SY75_.jpg" /></a></div>
                <div class="gr_grid_book_container"><a title="The Lean Startup" rel="nofollow" href="https://www.goodreads.com/book/show/10127019-the-lean-startup"><img alt="The Lean Startup" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1629999184l/10127019._SY75_.jpg" /></a></div>
                <div class="gr_grid_book_container"><a title="Sapiens: A Brief History of Humankind" rel="nofollow" href="https://www.goodreads.com/book/show/23692271-sapiens"><img alt="Sapiens: A Brief History of Humankind" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1703329310l/23692271._SY75_.jpg" /></a></div>
                <div class="gr_grid_book_container"><a title="milk and honey" rel="nofollow" href="https://www.goodreads.com/book/show/23513349-milk-and-honey"><img alt="milk and honey" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1491595510l/23513349._SY75_.jpg" /></a></div>
                <div class="gr_grid_book_container"><a title="The Diary of a Young Girl" rel="nofollow" href="https://www.goodreads.com/book/show/48855.The_Diary_of_a_Young_Girl"><img alt="The Diary of a Young Girl" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1560816565l/48855._SY75_.jpg" /></a></div>
                <div class="gr_grid_book_container"><a title="Steve Jobs" rel="nofollow" href="https://www.goodreads.com/book/show/11084145-steve-jobs"><img alt="Steve Jobs" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1511288482l/11084145._SY75_.jpg" /></a></div>
                <div class="gr_grid_book_container"><a title="the sun and her flowers" rel="nofollow" href="https://www.goodreads.com/book/show/35606560-the-sun-and-her-flowers"><img alt="the sun and her flowers" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1499791446l/35606560._SY75_.jpg" /></a></div>
                <div class="gr_grid_book_container"><a title="The Princess Saves Herself in This One (Women Are Some Kind of Magic, #1)" rel="nofollow" href="https://www.goodreads.com/book/show/30075802-the-princess-saves-herself-in-this-one"><img alt="The Princess Saves Herself in This One" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1619708912l/30075802._SX50_.jpg" /></a></div>
                <div class="gr_grid_book_container"><a title="Twenty Love Poems and a Song of Despair" rel="nofollow" href="https://www.goodreads.com/book/show/5932.Twenty_Love_Poems_and_a_Song_of_Despair"><img alt="Twenty Love Poems and a Song of Despair" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1447622711l/5932._SY75_.jpg" /></a></div>
                <div class="gr_grid_book_container"><a title="The Collected Poems" rel="nofollow" href="https://www.goodreads.com/book/show/31426.The_Collected_Poems"><img alt="The Collected Poems" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1168276210l/31426._SY75_.jpg" /></a></div>
                <div class="gr_grid_book_container"><a title="The Complete Stories and Poems" rel="nofollow" href="https://www.goodreads.com/book/show/23919.The_Complete_Stories_and_Poems"><img alt="The Complete Stories and Poems" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1327942676l/23919._SY75_.jpg" /></a></div>
                <div class="gr_grid_book_container"><a title="The Essential Rumi" rel="nofollow" href="https://www.goodreads.com/book/show/304079.The_Essential_Rumi"><img alt="The Essential Rumi" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1391414844l/304079._SX50_.jpg" /></a></div>
                <div class="gr_grid_book_container"><a title="Time Is a Mother" rel="nofollow" href="https://www.goodreads.com/book/show/58582927-time-is-a-mother"><img alt="Time Is a Mother" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1626846358l/58582927._SY75_.jpg" /></a></div>
                <div class="gr_grid_book_container"><a title="Depression & Other Magic Tricks" rel="nofollow" href="https://www.goodreads.com/book/show/34594982-depression-other-magic-tricks"><img alt="Depression & Other Magic Tricks" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1492920202l/34594982._SX50_.jpg" /></a></div>
                <div class="gr_grid_book_container"><a title="A Brief History of Time" rel="nofollow" href="https://www.goodreads.com/book/show/3869.A_Brief_History_of_Time"><img alt="A Brief History of Time" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1333578746l/3869._SX50_.jpg" /></a></div>
                <div class="gr_grid_book_container"><a title="I Am Malala: The Story of the Girl Who Stood Up for Education and Was Shot by the Taliban" rel="nofollow" href="https://www.goodreads.com/book/show/17851885-i-am-malala"><img alt="I Am Malala: The Story of the Girl Who Stood Up for Education and Was Shot by the Taliban" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1375414895l/17851885._SY75_.jpg" /></a></div>
                <div class="gr_grid_book_container"><a title="The Art of War" rel="nofollow" href="https://www.goodreads.com/book/show/10534.The_Art_of_War"><img alt="The Art of War" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1630683326l/10534._SY75_.jpg" /></a></div>
                <div class="gr_grid_book_container"><a title="The God Delusion" rel="nofollow" href="https://www.goodreads.com/book/show/14743.The_God_Delusion"><img alt="The God Delusion" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1347220693l/14743._SY75_.jpg" /></a></div>
                <div class="gr_grid_book_container"><a title="Talking to Strangers: What We Should Know About the People We Don’t Know" rel="nofollow" href="https://www.goodreads.com/book/show/43848929-talking-to-strangers"><img alt="Talking to Strangers: What We Should Know About the People We Don’t Know" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1549393502l/43848929._SX50_.jpg" /></a></div>
                <div class="gr_grid_book_container"><a title="Tuesdays with Morrie" rel="nofollow" href="https://www.goodreads.com/book/show/6900.Tuesdays_with_Morrie"><img alt="Tuesdays with Morrie" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1423763749l/6900._SY75_.jpg" /></a></div>
                <br style="clear: both"/><br/><a class="gr_grid_branding" style="font-size: .9em; color: #382110; text-decoration: none; float: right; clear: both" rel="nofollow" href="https://www.goodreads.com/user/show/161393773-chaitanya-mittal">Chaitanya Mittal's favorite books »</a>
                <noscript><br/>Share <a rel="nofollow" href="/">book reviews</a> and ratings with Chaitanya, and even join a <a rel="nofollow" href="/group">book club</a> on Goodreads.</noscript>
            </div>
        </div>
    </div>
    <script src="https://www.goodreads.com/review/grid_widget/161393773.Chaitanya's%20to-read%20book%20montage?cover_size=small&hide_link=&hide_title=&num_books=200&order=a&shelf=to-read&sort=date_added&widget_id=1704602257" type="text/javascript" charset="utf-8"></script>
</div>
